<nav class="level">
  <div class="level-left">
    <!-- <a class="button is-light" ng-click="vm.back()">Back</a> -->
  </div>
  <div class="level-right">
    <p class="level-item">
    <a class="button is-info" ng-href="#!/plans/{{vm.plan_id}}/reviews/create">Add Comment</a>
    </p>
  </div>
</nav>

<div class="tabs is-boxed is-centered"
     style="margin-top: 24px"
     ng-include="'js/views/sub-nav/nav.html'">
</div>

<article class="media">
<figure class="media-left">
  <p class="image is-64x64">
    <!-- <img src="https://bulma.io/images/placeholders/128x128.png"> -->
  </p>
</figure>
<div class="media-content">
  <div class="content">
    <p>
      <strong>Barbara Middleton - Appraiser</strong>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
      <br>
      Comment added on <strong>Monday, March 22, 2017</strong>
      <br />Review Type: <strong>First Review</strong>
      <br />
      <a href class="link">Approve</a> |
      <a href class="link">Decline</a>
    </p>
  </div>
</div>
</article>

<article class="media">
<figure class="media-left">
  <p class="image is-64x64">
    <!-- <img src="https://bulma.io/images/placeholders/128x128.png"> -->
  </p>
</figure>
<div class="media-content">
  <div class="content">
    <p>
      <strong>Tremaine Buchanan - Employee</strong>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
      <br>
      Comment added on <strong>Monday, March 22, 2017</strong>
      <br />Review Type: <strong>First Review</strong>
      <br />
      <a href class="link">Edit</a>
    </p>
  </div>
</div>
</article>
